:host {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  .header-title{
    font-size: 20px;
    font-weight: bold;
  }
  .total-information {
    position: relative;
    flex-wrap: wrap;

    .info-header {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 12px;

      .info-title {
        color: #141316;
      }
    }
  }

  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 1%;
    background: white;
    border-radius: 16px;
    border: 1px solid #E5E7E9;

    .left {
      display: flex;
      align-items: center;
      gap: 16px;

      .avatar {
        width: 64px;
        height: 64px;
        flex-shrink: 0;
        object-fit: cover;
        border-radius: 8px;
      }
      .security {
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        object-fit: cover;
        border-radius: 8px;
      }
      .full-name {
        display: flex;
        gap: 5px;

        span {
          color: #141316;
          font-feature-settings: 'liga' off, 'clig' off;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }

    .text-gmail{
      color: #75758B;
      margin-bottom: 0;
    }
  }

  .total-information {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    row-gap: 10px;

    background: white;
    border-radius: 16px;
    border: 1px solid #E5E7E9;

    .col {
      width: calc(100% / 3);
      display: flex;
      flex-direction: column;
      //gap: 10px;

      label {
        color: #868E96;
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
      }

      span {
        color: #141316;
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
  ::ng-deep .custom-tabs {


    .ant-tabs-tab {
      color: #555;
      background-color: transparent;
      border-radius: 10px!important;
      border: none;

      &.ant-tabs-tab-active {
        width: 200px;
        background-color: #22c55e;
        color: #fff;
        border-radius: 10px;
      }
    }
    .ant-tabs-tab:nth-child(3) {
      border-radius: 0!important;
      border-top:1px solid rgba(117, 117, 139, 0.25);
      color: red;
      background-color: transparent;
      //border: none;

      &.ant-tabs-tab-active {
        width: 200px;
        background-color: #1890ff;
        color: #fff;
        border-radius: 10px;
      }
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
      color: white;
    }
    .ant-tabs-ink-bar {
      background-color: #1890ff;
      color: white;
    }
  }

  ::ng-deep .ant-tabs-left > .ant-tabs-content-holder, .ant-tabs-left > div > .ant-tabs-content-holder{
    border: none !important;

  }

}
